.toggle{
	padding: 10px 40px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
    font-weight: bolder;
}
.temp__toggle {
	width: 220px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
    border-style: solid;
    border-color: black;
	background: #fff;
}
#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: hsl(28, 80%, 52%);
	border-radius: 30px;
	transition: .5s;
}
.weatherapp__favSelect {
    padding: 5px;
    margin-left: 10px;
}
#star{
    height: 15px;
    width:15px;
}






body {
    padding: 3% 8%;
    font-family: sans-serif;
    background: linear-gradient(180deg, rgba(89, 122, 196, 0.717), rgba(7, 43, 127, 0.679  ));
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    }
    html {
    height:170vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
    .weather-app__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:45px;

    }
    .weather-app__header h1 {
    color: rgb(255, 153, 0);
    font-size: 4rem;
    text-decoration: underline;
    font-family: sans-serif;
    }

    .weather-app__header h1 img{
        height:40px;
        width:40px;
        margin:0px 20px;
    }
    .weatherapp__cityInput {
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: aliceblue;
    }
    .weatherapp__cityInput, .weatherapp__search, .weatherapp__location, .weatherapp__favSelect,.weather-app__fav-button {
        font-size: 18px;
        padding: 5px 10px;
        outline: none;
        border: none;
        border-radius: 15px;
        background: aliceblue;
        margin-bottom: 10px;
    }
    

    
    .weatherapp__search, .weatherapp__location, .weather-app__fav-button {
        background: hsl(234, 65%, 44%);
        color: aliceblue;
        cursor: pointer;
        border: none;
        padding: 5px 10px;
    }
   
    .weatherapp__search:hover, .weatherapp__location:hover,.weather-app__fav-button:hover {
    background: hsl(234, 65%, 54%);
    }
    
    h5 {
    color: aliceblue;
    }
    .weather-app__controls {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .weather-app__input{
        display: flex;
        flex-direction: row;
        gap:10px;
    }
    .weatherapp__main {
    text-align: center;
    color: aliceblue;
    }
    #city {
    font-size: 30px;
    }
    main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: 2.5vw;
    align-items: center;
    margin: 0px 50px;
    color: aliceblue;
    }
    .weatherapp__main img {
    width: 11vw;
    height: 22vh;
    border-radius: 30%;
    background: rgba(107, 175, 235, 0.408);
    }
    #temperature {
    font-size: 50px;
    margin: 10px;
    }
    #descbox {
    font-size: 20px;
    
    background: rgb(29, 250, 29);
    border-radius: 15px;
    padding: 2px 20px;
    }
    #feel {
    font-size: 18px;
    margin: 20px 0;
    }
    .next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .next p {
    margin: 5px 0;
    }
    .time, .date {
    color: rgb(255, 127, 15);
    }
    .subDesc, .subDesc1 {
    color: rgb(0, 255, 0);
    }
    .foreheadH {
    color: aliceblue;
    background: rgb(255, 127, 15);
    text-align:center;
    width: max-content;
    margin: 0 auto;
    border-radius:10px;
    padding:5px;
    }
    .divider1 {
        width: 5px; 
        background: rgb(245, 128, 25);
        height:200px;
        margin: 20px auto;
        border-radius: 10px; 
    }
    
     .divider2 {
    background: rgb(248, 125, 18);
    margin: 20px auto; 
    height: 5px;
    width: 80%;
    border-radius: 10px; 
    }
    .weekF {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2.5vw;
    
    align-items: center;
    margin: 0px 50px;
    }
    #merger {
    margin-left: 3vw;
    }
    .cel1, .cel2 {
    color: aliceblue;
    }
    .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    }
    @media (max-width: 768px) {
    .weather-app__header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    }
    .subdesc{
    padding-top:0px;
    }
    .inner{
    margin-bottom:1px;
    }
    
    .weatherapp__cityInput, .weatherapp__search, .weatherapp__location {
    width: 90%;
    margin-bottom: 10px;
    }
    .weather-app__controls {
    flex-direction: column;
    align-items: center;
    }
    #temperature {
    font-size: 40px;
    
    }
    .weatherapp__main img {
    width: 60px;
    height: 60px;
    }
    .weekF {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0 10px; 
    text-align: center; 
    }
    
    .divider1, .divider2 {
    width: 90%;
    height:5px;
    }
    main {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0 10px;
    text-align: center; 
    }
    #descbox {
    font-size: 16px;
    padding: 5px 10px;
    }
    .weatherapp__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .weatherapp__main img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    }
    .weekF .next {
    flex-direction: column;
    align-items: center;
    
    }
    
    .foreheadH {
    width: 100%;
    text-align: center;
    padding: 5px;
    }
    }

   